{% extends 'allauth/layouts/base.html' %}
{% load static i18n %}

{% block head_title %}{% trans "Mes réservations" %}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'bana/css/pages/trajects.css' %}">
{% endblock %}

{% block page_background %}
<div class="fixed inset-0 -z-10 opacity-50 pointer-events-none" style="background-image:url('{% static "bana/img/background/bg-bana-2.png" %}'); background-size:cover; background-repeat:no-repeat; background-position:center;"></div>
{% endblock %}

{% block content %}
<div class="trajects-app">
  <div class="relative max-w-6xl mx-auto">

  <h1 class="text-[28px] font-extrabold text-[#0F0F0F] mt-6 md:mt-8 mb-[22px] tracking-tight">{% trans "Mes réservations" %}</h1>

  {% include 'trajects/reservation/partials/reservations_content.html' %}

  </div>
</div>

<script src="{% static 'bana/js/pages/reservations_calendar.js' %}"></script>
{% endblock %}
