{% extends 'allauth/layouts/base.html' %}
{% load static i18n %}

{% block head_title %}
  {% trans "Mes réservations" %}
{% endblock %}

{% block content %}
  <div class="bg-white shadow-lg rounded-xl px-4 py-8 sm:p-8 md:p-12 lg:p-16 space-y-10">
    {# A voir avec le title du header #}
    {# <h1 class="text-2xl sm:text-3xl font-semibold text-gray-900 tracking-tight">{% trans "Mes réservations" %}</h1> #}

    {% if messages %}
      <ul class="mb-6">
        {% for message in messages %}
          <li class="text-sm p-2 rounded bg-yellow-100 text-yellow-900">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% include 'trajects/reservation/partials/reservations_content.html' %}
  </div>
{% endblock %}
