{% extends 'layouts/base.html' %}

{% block title %}Administration{% endblock %}

{% block content %}
    

<div class="max-w-7xl mx-auto p-8 min-h-screen">
    <div class="container mx-auto">

        <h2 class="text-4xl font-light mb-10 text-gray-800  items-center border-b pb-4 text-center">Administration de Bana Community</h2>
        {% if messages %}
        <ul class="mb-4">
            {% for message in messages %}
            <li class="text-sm p-2 rounded bg-yellow-100 text-yellow-900">
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
      </div>

      {% include "./layout/nav_admin.html" %}

{% endblock %}
