{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- styling part -->
    <link rel="stylesheet" href="{% static 'members/css/style.css' %}"> 
    <script src="{% static 'members/js/scripts.js' %}" defer ></script>

    <title>{% block title %}{% endblock  %}</title>
</head>
<body>
        {% include './header.html' %}


        {% block content %}
        {% endblock %}
        

        {% include './footer.html' %}
</body>
</html>