<header>
    <nav class="px-6 bg-[#007F73] text-white xl:px-24 py-4 flex items-center justify-between">
        <!-- Logo and Branding -->
        <div class="flex items-center space-x-3">
            {% load static %}
            <img class="w-20 h-20" src="{% static 'bana/img/logo/Bana_logo_lime.svg' %}" alt="Logo Bana">
            <p class="hidden xl:block text-sm w-60">
                Mobile babysitting platform for the
                <span class="text-[#D7FC19] font-bold">home-school-activities kids' journeys</span>
            </p>
        </div>

        <!-- Mobile Menu Button -->
        <div class="md:hidden flex justify-center items-center gap-4">
            <div class="relative inline-block text-left">
                <button class="flex items-center text-white font-bold rounded-md focus:outline-none peer">
                    En
                    <svg class="w-4 h-4 ml-1" fill="none" stroke="currentColor" stroke-width="3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 9l6 6 6-6" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>

                <div
                    class="absolute left-0 w-32 bg-white border border-gray-300 rounded-md shadow-lg hidden peer-focus:block">
                    <ul class="py-1">
                        <li><a href="#" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Français</a></li>
                        <li><a href="#" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Nederlands</a></li>
                    </ul>
                </div>
            </div>
            <button id="menu-toggle" class="focus:outline-none">
                <svg class="w-8 h-8 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                </svg>
            </button>
        </div>

        <!-- Navigation Links -->
        <div id="nav-links" class="hidden md:flex items-center space-x-6 font-bold">
            <a href="{% url 'home' %}">
                <img class="w-7 h-7" src="{% static 'bana/img/icon/Icon_home.svg' %}" alt="Icon hut">
            </a>
            <a href="{% url 'about' %}" class="text-center hover:text-white hover:no-underline">About</a>
            <a href="{% url 'contact' %}" class="text-center hover:text-white hover:no-underline">Contact</a>
            <a href="{% url 'searched_traject' %}" class="text-center hover:text-white hover:no-underline">Rechercher un trajet</a>
            <a href="{% url 'all_researched_trajects' %}" class="text-center hover:text-white hover:no-underline">All trajet rechercher</a>
            <a href="{% url 'proposed_traject' %}" class="text-center hover:text-white hover:no-underline">Proposer un trajet</a>
            <a href="{% url 'all_proposed_trajects' %}" class="text-center hover:text-white hover:no-underline">All trajet proposé</a>


        </div>

        <!-- Authentication Buttons -->
        <div class="hidden md:flex flex-row gap-8 items-center">
            <div id="auth-buttons" class="md:flex items-center space-x-4">
                
                {% if user.is_authenticated %}
                    <a href="{% url 'accounts:profile' %}"
                        class="bg-[#D7FC19] text-[#007F73] px-4 py-2 rounded-full font-bold w-32 flex justify-center items-center hover:text-[#3D4F00] hover:no-underline">
                        Profile
                    </a>
            
                    <a href="{% url 'account_logout' %}"

                        class="bg-[#D7FC19] text-[#007F73] px-4 py-2 rounded-full font-bold w-32 flex justify-center items-center hover:text-[#3D4F00] hover:no-underline">
                        Logout
                    </a>
                {% else %}
                    <a href="{% url 'account_signup' %}"
                        class="bg-[#D7FC19] text-[#007F73] px-4 py-2 rounded-full font-bold w-32 flex justify-center items-center hover:text-[#3D4F00] hover:no-underline">
                        Register
                    </a>
            
                    <a href="{% url 'account_login' %}"

                        class="relative bg-[#007F73] text-[#D7FC19] px-4 py-2 rounded-full font-bold w-32 flex justify-center items-center hover:text-[#D7FC19] hover:no-underline before:absolute before:inset-0 before:rounded-full before:border-2 before:border-[#D7FC19]">
                        Login
                    </a>
                {% endif %}
                
                <div class="relative inline-block text-left z-10">
                    <button
                        class="flex items-center pl-4 py-2 font-bold text-white rounded-full focus:outline-none peer">
                        En
                        <svg class="w-4 h-4 ml-1" fill="none" stroke="currentColor" stroke-width="3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 9l6 6 6-6" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>

                    <div
                        class="absolute left-0 mt-2 w-32 bg-white border border-lime-300 rounded-md shadow-lg hidden peer-focus:block">
                        <ul class="py-1">
                            <li><a href="#" class="block px-4 py-2 text-gray-700 hover:bg-lime-100">Français</a></li>
                            <li><a href="#" class="block px-4 py-2 text-gray-700 hover:bg-lime-100">Nederlands</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </nav>

    <!-- Mobile Dropdown Menu -->
    <div id="mobile-menu" class="hidden bg-[#007F73] border-t border-[#D7FC19] text-white px-6 py-4 md:hidden">
        <div class="flex flex-col space-y-4 font-bold">
            <a href="{% url 'home' %}" class="text-center hover:text-white hover:no-underline">Home</a>
            <a href="{% url 'about' %}" class="text-center hover:text-white hover:no-underline">About</a>
            <a href="{% url 'contact' %}" class="text-center hover:text-white hover:no-underline">Contact</a>
            <a href="{% url 'all_trajects' %}" class="text-center hover:text-white hover:no-underline">All Trajects</a>
            <a href="{% url 'all_trajects' %}" class="text-center hover:text-white hover:no-underline">All Trajects</a>



            <div class="flex flex-col items-center gap-4 md:flex-row justify-center p-6">
                {% if user.is_authenticated %}
                <a href="{% url 'accounts:profile' %}"
                    class="bg-[#D7FC19] text-[#007F73] px-4 py-2 rounded-full font-bold w-40 text-center hover:text-[#3D4F00] hover:no-underline">
                    Profile
                </a>
                <a href="{% url 'accounts:logout' %}"
                    class="bg-[#D7FC19] text-[#007F73] px-4 py-2 rounded-full font-bold w-40 text-center hover:text-[#3D4F00] hover:no-underline">
                    Logout
                </a>
                {% else %}
                <a href="{% url 'account_signup' %}"
                    class="bg-[#D7FC19] text-[#007F73] px-4 py-2 rounded-full font-bold w-40 text-center hover:text-[#3D4F00] hover:no-underline">
                    Register
                </a>
                <a href="{% url 'account_login' %}"
                    class="bg-[#D7FC19] text-[#007F73] px-4 py-2 rounded-full font-bold w-40 text-center hover:text-[#3D4F00] hover:no-underline">
                    Login
                </a>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Flash Messages -->
    {% if messages %}
    <div class="messages mt-4 w-full space-y-2">
        {% for message in messages %}
        <div class="alert p-2 border-2 rounded
                    {% if 'success' in message.tags %}
                        bg-green-100 text-green-700 border-green-400
                    {% else %}
                        bg-red-100 text-red-700 border-red-400
                    {% endif %}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
</header>
