/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {

  padding: 60px 0;
  overflow: clip;
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding-bottom: 50px;
  max-width: 80ch;

  h2 {
    font-size: 40px;
    font-weight: 700;
    position: relative;
  }

  hr{
    width: 60%;
    margin: 10px auto;
    border: 0,5px solid;
  }

  p {
    margin-bottom: 0;
  }
}


