/*input[type=text],
input[type=password],
textarea {
    color: var(--default-color);
    background-color: color-mix(in srgb, var(--background-color), transparent 50%);
    border-color: color-mix(in srgb, var(--default-color), transparent 80%);
    font-size: 14px;
    padding: 10px 15px;
    box-shadow: none;
    border-radius: 0;

    &:focus {
        border-color: var(--accent-color);
    }

    &::placeholder {
        color: color-mix(in srgb, var(--default-color), transparent 70%);
    }
}

button[type="submit"] {
    color: var(--contrast-color);
    background: var(--accent-color);
    border: 0;
    padding: 10px 30px;
    transition: 0.4s;
    border-radius: 50px;

    &:hover {
        background: color-mix(in srgb, var(--accent-color), transparent 20%);
    }
}*/

