{% extends "allauth/layouts/base.html" %}
{% load allauth i18n static %}

{% block head_title %}{% trans "Profile" %}{% endblock head_title %}

{% block content %}
<section class="section profile">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="max-w-6xl mx-auto px-4 py-8 space-y-8">
      {# ——— Messages ——— #}
      {% if messages %}
      <ul class="mb-2 space-y-2">
        {% for message in messages %}
        <li class="text-sm p-2 rounded bg-yellow-100 text-yellow-900">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      <div 
          id="public-profile-section"
          hx-get="{% url 'accounts:profile_public' %}" 
          hx-trigger="load" 
          hx-swap="outerHTML"
          class="border rounded-lg shadow-md bg-white p-6">Chargement du profil public...
          
      </div>
    
      <!-- ✅ SECTION PRIVÉE EN DESSOUS -->
      <div 
          id="editable-profile-section"
          hx-get="{% url 'accounts:profile_info' %}" 
          hx-trigger="load" 
          hx-swap="outerHTML"
          class="border rounded-lg shadow-md bg-white p-6"
      >
          Chargement des infos privées...
      </div>
    </div>


     


    </div>
  </div>
</section>
{% endblock content %}