.footer-bg {
    background-image: url('/static/bana/img/shared/footer.svg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.footer-digit-up-logo {
    filter: brightness(0) invert(1);
}