<div id="editable-profile-section" class="border p-4 rounded-lg shadow bg-white">
    <h3 class="text-xl font-semibold mb-3">Mes informations</h3>

    <p><strong>Prénom :</strong> {{ user.first_name }}</p>
    <p><strong>Nom :</strong> {{ user.last_name }}</p>
    <p><strong>Date de naissance :</strong> {{ profile.birthdate }}</p>
    <p><strong>Lien photo :</strong> {{ user.profile.profile_picture.name }}</p>
    <p><strong>Adresse :</strong> {{ user.profile.address }}</p>
    <p><strong>Langues :</strong> {{ user.profile.languages.all|join:", " }}</p>
    <p><strong>Moyens de transport :</strong> {{ user.profile.transport_modes|join:", " }}</p>
    <p><strong>Bio :</strong> {{ user.profile.bio }}</p>
    <p><strong>Téléphone :</strong> {{ user.profile.phone }}</p>

    <button 
        hx-get="{% url 'accounts:profile_edit' %}" 
        hx-target="#editable-profile-section" 
        hx-swap="innerHTML"
        class="btn btn-primary mt-4"
    >
        ✏️ Modifier mon profil
    </button>
</div>