<form 
    hx-post="{% url 'accounts:profile_edit' %}" 
    hx-target="#editable-profile-section" 
    hx-swap="outerHTML"
    method="POST"
    enctype="multipart/form-data"
    class="border p-4 rounded bg-white"
>
    {% csrf_token %}
    {% if user_form.errors %}
  <div class="alert alert-danger">{{ user_form.errors }}</div>
{% endif %}
{% if profile_form.errors %}
  <div class="alert alert-danger">{{ profile_form.errors }}</div>
{% endif %}

<!-- Prénom / Nom -->
    <p><strong>Prénom :</strong>
    {% if user.profile.ci_is_verified == False %}
      {{ user_form.first_name }}
    {% else %}
      {{ user.profile.verified_first_name }}
    {% endif %}
    </p>
    <p><strong>Nom :</strong>
    {% if user.profile.ci_is_verified == False %}
      {{ user_form.last_name }}
    {% else %}
       {{ user.profile.verified_last_name }}
    {% endif %}
    </p>

    <!-- Adresse -->
    <p><strong>Adresse :</strong> 
      <div>
        {{ profile_form.address }}
      </div>
    </p>

    <!-- Photo de profil -->
      <p><strong>Photo de profile :</strong>
      {{ profile_form.profile_picture }}   
    </p>
    <!-- Langues parlées -->
    <p><strong>Langues parlées :</strong>
      {{ profile_form.languages }}
    </p>
    
    <!-- Bio -->
    <p><strong>Biographie :</strong></p>
      {{ profile_form.bio }}
    
      <div class="mb-4">
  <p><strong>Bonne vie et moeurs (extrait 596.2, utilisé dans le cadre de l'encadrement de mineurs)</strong></p>
  {{ profile_form.document_bvm }}
  {% if user.profile.document_bvm %}
    <a href="{{ user.profile.document_bvm.url }}" target="_blank" class="text-blue-600 underline ml-2">Voir le document</a>
  {% endif %}
</div>
    
    <button type="submit" class="btn btn-primary mt-4">💾 Enregistrer</button>
</form>
