{% extends 'layouts/base.html' %}

{% block title %} Reserve Traject {% endblock %}

{% block content %}
<div class="container mx-auto p-4">
    <h1 class="text-2xl font-bold mb-4">Reservation Page</h1>

    <div id="traject-info" class="bg-white p-4 rounded shadow">
        <h2 class="text-xl font-semibold mb-2">Traject Information</h2>
        <p><strong>Origin:</strong>
            {% if traject.traject.start_adress %}
                {{ traject.traject.start_adress }}
            {% else %}
                {{ traject.traject.start_street }}, {{ traject.traject.start_locality }} {{ traject.traject.start_country }}
            {% endif %}
        </p>
        <p><strong>Destination:</strong>
            {% if traject.traject.end_adress %}
                {{ traject.traject.end_adress }}
            {% else %}
                {{ traject.traject.end_street }}, {{ traject.traject.end_locality }} {{ traject.traject.end_country }}
            {% endif %}
        </p>
        <p><strong>Date:</strong> {{ traject.departure_date }}</p>
        <p><strong>Time:</strong> {{ traject.departure_time }}</p>
        <p><strong>Seats Available:</strong> {{ traject.number_of_places }}</p>
    </div>
    

    {% if is_creator %}
    <div id="creator-actions" class="mt-4">
        <button id="modify-trajectory" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="window.location.href='{% url 'modify_traject' traject.id 'proposed' %}'">Modify Traject</button>
        <button id="delete-trajectory" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded ml-2" onclick="window.location.href='{% url 'delete_traject' traject.id 'proposed' %}'">Delete Traject</button>

        <div id="reservation-requests" class="bg-white p-4 rounded shadow mt-4">
            <h3 class="text-lg font-semibold mb-2">Reservation Requests</h3>
            {% for request in reservation_requests %}
            <div class="request mb-2">
                <p>User: {{ request.user.username }}</p>
                <button class="accept bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 rounded mr-2">Accept</button>
                <button class="reject bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded">Reject</button>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div id="user-view" class="mt-4">
        <div class="bg-white p-4 rounded shadow">
            <h3 class="text-lg font-semibold mb-2">Reserve Your Place:</h3>
            {% comment %}<p class="text-lg">{{ reservation_count }}</p> {% endcomment %}
            <button id="reserve-trajectory" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-2">Reserve</button>
            <button id="message-creator" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded mt-2 ml-2">Send Message to Yaya</button>
        </div>
    </div>
    {% endif %}
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var isCreator = "{{ is_creator }}"; // This will be "True" or "False"
        
        if (isCreator === "True") {
            document.getElementById("creator-actions").style.display = "block";
        } else {
            document.getElementById("user-view").style.display = "block";
        }

        // Event listeners for the buttons
        document.getElementById("reserve-trajectory").addEventListener("click", function() {
            // Logic for reserving the traject
        });

        document.getElementById("message-creator").addEventListener("click", function() {
            // Logic for messaging the creator
        });

        var acceptButtons = document.querySelectorAll(".accept");
        acceptButtons.forEach(function(button) {
            button.addEventListener("click", function() {
                // Logic for accepting reservation
            });
        });

        var rejectButtons = document.querySelectorAll(".reject");
        rejectButtons.forEach(function(button) {
            button.addEventListener("click", function() {
                // Logic for rejecting reservation
            });
        });
    });
</script>
{% endblock %}
