{% extends './layouts/base.html' %}
{% load static %}

{% block title %}About - Bana{% endblock %}

{% block content %}
<div class="min-h-screen flex flex-col items-center">
    <div class="flex flex-col-reverse md:flex-row items-center w-full h-[90vh] md:h-screen my-8 md:my-0"
        style="background-image: url('{% static 'bana/img/background/Background_Bana.jpg' %}'); background-size: cover; background-position: center;">

        <!-- Left Content -->
        <div class="flex flex-col items-center text-center md:text-left px-8 pb-4 md:mb-4 md:w-1/2 md:px-16 xl:px-32">
            <h1 class="mt-4 text-4xl md:text-5xl font-bold">L'équipe</h1>
            <h2 class="mt-2 mb-4 text-lg font-semibold text-brand">Des parents comme vous
            </h2>
            <div class="mt-6 flex flex-col xl:flex-row gap-4 items-center">
                <a href="/contact" class="w-60 md:w-48 px-6 py-3 font-semibold text-white bg-brand rounded-full"
                    aria-label="Join our team">Contact</a>
            </div>
        </div>

        <!-- Right Content -->
        <div class="relative w-full md:w-1/2 h-full overflow-hidden">
            <!-- Right Side Background (Hidden on small screens) -->
            <div
                class="absolute top-0 right-[-20%] hidden md:flex w-full h-full items-center justify-center bh-brand-50 rounded-l-full overflow-hidden">
                <img src="{% static 'bana/img/background/Bana_background_lime.png' %}" alt="Background"
                    class="absolute w-full h-full object-cover">
            </div>

            <!-- Circular Image Container (Responsive Size) -->
            <div
                class="absolute left-1/2 md:left-0 top-1/2 w-80 h-80 max-w-full max-h-full transform -translate-x-1/2 md:translate-x-0 -translate-y-1/2 rounded-full overflow-hidden">
                <img src="{% static 'bana/img/page/Bana_team_bruno_nascimento.jpg' %}" alt="Mother with her child"
                    class="w-full h-full object-cover">
            </div>
        </div>
    </div>

    <!-- Benefits Section -->
    <div class="bg-brand md:h-[12rem] w-full flex flex-col md:flex-row relative overflow-hidden">

        <div class="hidden xl:block h-full">
            <img class="h-full w-full object-cover" src="{% static 'bana/img/other/Bana_circle_right.png' %}"
                alt="Circle with logo Bana">
        </div>

        <div class="h-[1/2] block md:hidden">
            <img class="object-cover" src="{% static 'bana/img/other/Bana_circle_bottom.png' %}"
                alt="Circle with logo Bana">
        </div>

        <!-- Right Section -->
        <div
            class="h-auto w-full flex-1 flex flex-col md:flex-row items-center justify-between md:py-6 md:px-20 text-white">

            <!-- Benefit Items -->
            <div class="flex flex-col items-center mt-12 mb-4 md:!mt-0 md:!mb-0 md:items-start text-left">
                <h3 class="text-xl text-center md:text-left font-bold text-brand-100 mb-2">
                    Il faut tout un village pour élever un enfant
                </h3>
                <div class="flex flex-col p-8 md:!p-0 justify-around text-base text-white text-center md:!text-left">
                    <p class="mb-4 md:!mb-0">
                        Ce <span class="text-brand-100">proverbe africain,</span> qui prône la parentalité
                        communautaire, a inspiré le concept de Bana.
                    </p>

                    <p class="mb-4 md:!mb-0">
                        Imaginée par une maman, la plateforme Bana repose sur un  <span class="text-brand-100">système
                            participatif :</span> soit en argent, soit en temps.
                    </p>

                    <p class="mb-4 md:!mb-0">
                        D’un côté, des parents qui ont besoin d’aide pour les trajets de leurs enfants, et de l’autre,
                        des parents qui peuvent soutenir d’autres familles.
                    </p>

                    <p>
                        Utiliser Bana, c’est comme demander un coup de main à un ami… qui nous comprend !
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="carousel-container flex items-center justify-center w-full h-1/2 p-4 overflow-hidden">
        <div class="relative flex items-center w-full md:w-3/4">
            <!-- Left Button -->
            <button
                class="prev absolute left-2 md:left-0 z-10 flex items-center justify-center w-8 h-8 md:w-16 md:h-16 p-4 text-white bg-brand rounded-full shadow-lg transform -translate-x-1/2"
                onclick="plusDivs(-1)">
                ❮
            </button>

            <!-- Slides Container -->
            <div class="relative w-full overflow-hidden">
                <div id="carousel1"
                    class="carousel flex w-full transition-transform duration-500 ease-in-out pointer-events-none">
                    <div
                        class="mySlides flex flex-col justify-center items-center w-full p-8 text-center flex-shrink-0 gap-24 xl:flex-row xl:!text-left pointer-events-auto">
                        <img src="{% static 'bana/img/other/Nyota.png' %}"
                            class="object-cover w-40 h-40 rounded-full md:w-96 md:h-96 md:ml-16" alt="Profile">
                        <div class="mx-4 max-w-lg">
                            <h2 class="text-2xl font-bold text-brand">Nyota Delecourt</h2>
                            <p class="text-sm font-semibold text-brand">
                                Maman de deux enfants (2010, 2023) avec une formation en marketing et une expérience en
                                RH,
                                achats,
                                et gestion de projets.
                            </p><br>
                            <p class="text-sm text-gray-700">
                                Passionnée par le bien-être familial. Je jongle entre la vie de maman d’un adolescent et
                                d’un bébé,
                                entre les entraînements de basket, les biberons et les réunions.
                                <br><br>
                                J’accorde de l’importance à un mode de vie durable et je rêve d’un monde où la
                                parentalité est plus simple
                                et où les enfants grandissent sereinement.
                            </p>
                        </div>
                    </div>

                    <div
                        class="mySlides flex flex-col justify-center items-center w-full p-8 text-center flex-shrink-0 gap-24 xl:flex-row xl:!text-left pointer-events-auto">
                        <img src="{% static 'bana/img/other/Bernard.png' %}"
                            class="object-cover w-40 h-40 rounded-full md:w-96 md:h-96 md:ml-16" alt="Profile">
                        <div class="mx-4 max-w-lg">
                            <h2 class="text-2xl font-bold text-brand">Bernard Lambeau</h2>
                            <p class="text-sm font-semibold text-brand">
                                Père de 3 enfants, profil IT, expérience dans le développement de plateformes pour la
                                mobilité.
                                Engagé et sensible aux questions environnementales.
                            </p><br>
                            <p class="text-sm text-gray-700">
                                Mon objectif est de tout savoir sur la mobilité en Belgique ou, plus réalistement,
                                d’y contribuer à son amélioration.
                                <br><br>
                                Je m’intéresse particulièrement à la mobilité en zones rurales.
                            </p>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Right Button -->
            <button
                class="next absolute right-2 md:right-0 z-10 flex items-center justify-center w-8 h-8 md:w-16 md:h-16 p-4 text-white bg-brand rounded-full shadow-lg transform translate-x-1/2"
                onclick="plusDivs(1)">
                ❯
            </button>
        </div>
    </div>

    <div class="w-full flex flex-col items-center p-8 bg-cover bg-center"
        style="background-image: url('{% static 'bana/img/background/Bana_background_dark_green.png' %}');">

        <div class="text-xl text-center font-bold ">
            <h3 class="text-brand-50 md:text-2xl">
                Notre histoire
            </h3>

            <h4 class="text-white mt-2">
                C’est l’histoire d’une maman qui pensait pouvoir tout gérer...<br>
                <span class="text-brand-100">Spoiler : elle s’était trompée !</span>
            </h4>
        </div>
    </div>

    <div class="flex justify-center w-full py-12">
        <div class="w-full flex flex-col md:flex-row gap-4 md:w-[80%] xl:w-1/2">

            <div class="w-full flex flex-col text-center md:w-1/2">
                <div class="h-auto">
                    <img src="{% static 'bana/img/other/Organic_shape_img.png' %}" alt="Bana Logo"
                        class="w-full h-auto">
                </div>
                <div class="h-auto px-12 py-16"
                    style="background-repeat: no-repeat; background-size: 100% 100%; background-image: url('{% static 'bana/img/other/Organic_shape_lime.png' %}');">
                    <p>
                        À l’époque, j’étais toujours pressée, stressée à l’idée d’arriver en retard au bureau.
                        En quittant la maison, je devais déposer mon fils à l’école, traverser le centre-ville,
                        puis prendre l’autoroute pour aller travailler. Seulement 35 km à parcourir, mais de porte à
                        porte,
                        aux heures de pointe, cela me prenait 1 heure.
                    </p>

                    <p>
                        Chaque matin, je réveillais mon aîné (qui n’avait alors que 6 ans) en lui disant
                        « Allez, dépêche-toi, on va être en retard. »
                        Et le soir, c’était la même chose : en arrivant à la garderie, en l’emmenant à son activité,
                        pour faire les devoirs, pour aller à la douche…
                        Je ne cessais de lui demander de se dépêcher. Et je ne me rendais pas vraiment compte de la
                        pression
                        que je lui mettais…
                    </p>
                </div>
            </div>

            <!-- Bloc de contenu dupliqué -->
            <div class="w-full flex flex-col text-center md:w-1/2">

                <div class="h-auto px-12 py-16 "
                    style="background-repeat: no-repeat; background-size: 100% 100%; background-image: url('{% static 'bana/img/other/Organic_shape_dark_green.png' %}');">
                    <p>
                        Jusqu’au jour où, un matin comme les autres, je vais le réveiller pour qu’il se prépare
                        pour l’école. Là, il entrouvre à peine ses petits yeux fatigués et, d’une voix encore endormie,
                        me demande : « On est en retard ? »
                    </p>

                    <p>
                        La claque ! Mon cœur s’est brisé. Je me suis sentie comme la pire des mamans…
                        Ce matin-là, je me suis allongée à côté de lui, je l’ai serré dans mes bras et je l’ai câliné
                        longtemps avant de partir à l’école. C’était un vrai bon moment. Un moment de qualité
                        comme on aimerait en avoir chaque jour.
                    </p>

                    <p>
                        Et oui, ce matin-là, j’ai fini par être en retard !
                        Mais cela en valait la peine, car c’est ce jour-là que tout a changé…
                    </p>
                </div>

                <div class="h-auto px-12 py-16"
                    style="background-repeat: no-repeat; background-size: 100% 100%; background-image: url('{% static 'bana/img/other/Organic_shape_light_green.png' %}');">
                    <p>
                        L’histoire de Bana est née de la volonté de faire la différence : faciliter la vie des parents
                        et créer un environnement épanouissant et serein pour les enfants.
                    </p>

                    <p>
                        Bana — qui signifie « enfants » en lingala — est une communauté engagée qui partage les mêmes
                        valeurs,
                        encourage l’entraide entre parents et promeut le bien-être des enfants.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="carousel-container flex flex-col items-center justify-center w-full h-1/2 py-24 px-4 overflow-hidden bg-cover bg-center"
    style="background-image: url('{% static 'bana/img/background/Bana_background_dark_green.png' %}');">
    <div class="text-xl text-center font-bold">
        <h3 class="text-brand-50 md:text-2xl mb-24">Ils parlent de nous !</h3>
    </div>

    <div class="relative flex items-center w-full md:w-3/4">
        <!-- Left Button -->
        <button
            class="prev absolute left-2 md:left-0 z-10 flex items-center justify-center w-8 h-8 md:w-16 md:h-16 p-4 text-brand bg-brand-100 rounded-full shadow-lg transform -translate-x-1/2"
            onclick="plusDivs(-1)">
            ❮
        </button>

        <!-- Slides Container -->
        <div class="relative w-full overflow-hidden">
            <div id="carousel2" class="carousel flex flex-nowrap w-full transition-transform duration-500 ease-in-out">
                <div
                    class="mySlides flex flex-col md:flex-row items-center justify-center w-full flex-shrink-0 gap-8 px-16">
                    <img src="{% static 'bana/img/logo/Logo_La_Libre.svg' %}"
                        class="object-cover w-20 h-auto md:w-40 md:h-auto" alt="Profile">
                    <img src="{% static 'bana/img/logo/Logo_Lavenir.svg' %}"
                        class="object-cover w-20 h-auto md:w-40 md:h-auto" alt="Profile">
                    <img src="{% static 'bana/img/logo/Logo_Rtbf_Auvio.svg' %}"
                        class="object-cover w-20 h-auto md:w-40 md:h-auto" alt="Profile">
                </div>

                <div
                    class="mySlides flex flex-col md:flex-row items-center justify-center w-full flex-shrink-0 gap-8 px-16">
                    <img src="{% static 'bana/img/logo/Logo_La_Capitale.png' %}"
                        class="object-cover w-20 h-auto md:w-40 md:h-auto" alt="Profile">
                    <img src="{% static 'bana/img/logo/Logo_Maison_Slash.png' %}"
                        class="object-cover w-20 h-auto md:w-40 md:h-auto" alt="Profile">
                    <img src="{% static 'bana/img/logo/Logo_Sudinfo.png' %}"
                        class="object-cover w-20 h-auto md:w-40 md:h-auto" alt="Profile">
                </div>

                <div
                    class="mySlides flex flex-col md:flex-row items-center justify-center w-full flex-shrink-0 gap-8 px-16">
                    <img src="{% static 'bana/img/logo/Logo_Telesambre.svg' %}"
                        class="object-cover w-20 h-auto md:w-40 md:h-auto" alt="Profile">
                    <img src="{% static 'bana/img/logo/Logo_Vivacite.svg' %}"
                        class="object-cover w-20 h-auto md:w-40 md:h-auto" alt="Profile">
                </div>
            </div>
        </div>

        <!-- Right Button -->
        <button
            class="next absolute right-2 md:right-0 z-10 flex items-center justify-center w-8 h-8 md:w-16 md:h-16 p-4 text-brand bg-brand-100 rounded-full shadow-lg transform translate-x-1/2"
            onclick="plusDivs(1)">
            ❯
        </button>
    </div>
</div>
</div>
{% endblock %}