
{% comment "" %}
{% extends "account/base_manage_password.html" %}
{% endcomment %}
{% load allauth i18n static %}


    {% comment "" %}
    {% url 'account_change_password' as action_url %}
    {% element form form=form method="post" action=action_url %}
        {% slot body %}
            {% csrf_token %}
            {{ redirect_field }}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
            <button type="submit" data-bs-toggle="tab" hx-post="{% url 'account_change_password' %}"
                                hx-target="#profile-content" hx-swap="innerHTML">{% trans 'Change Password' %}</button>
          
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a> 
         
        {% endslot %}
    {% endelement %}

    {% load allauth i18n static %}
    {% endcomment %}

<form method="post" action="{% url 'accounts:account_change_password' %}" hx-post="{% url 'accounts:account_change_password' %}" hx-target="#profile-content" hx-swap="innerHTML">
    {% csrf_token %}
    {{ redirect_field }}

    {% for field in form %}
        <div class="row mb-3 ">
            <label for="{{ field.id_for_label }}" class="col-sm-5 col-form-label">{{ field.label }} :</label>
            {{ field }}
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
    {% endfor %}

    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}

    {% comment "" %}
    <button type="submit" data-bs-toggle="tab" hx-post="{% url 'account_change_password' %}"
                                hx-target="#profile-content" hx-swap="innerHTML">{% trans 'Change Password' %}</button>

    {% endcomment %}
    <button type="submit">{% trans 'Change Password' %}</button>

    <a href="{% url 'account_reset_password' %}">
        {% trans "Forgot Password?" %}
    </a>
</form>
