{% extends 'account/base_auth.html' %}
{% load i18n allauth account static %}

{% block title %}{% trans "Réinitialisation du mot de passe" %}{% endblock title %}

{% block auth_title %}{% trans "Vérifiez vos emails" %}{% endblock %}

{% block auth_content %}
<p class="text-gray-600 text-center">
  {% blocktrans %}Nous vous avons envoyé un email. Si vous ne le recevez pas, vérifiez vos spams. Contactez-nous si vous ne le recevez pas dans quelques minutes.{% endblocktrans %}
</p>
{% endblock auth_content %}

{% block auth_footer %}
<div class="text-center mt-8">
  <a href="{% url 'account_login' %}" class="text-sm text-brand hover:underline font-semibold">
    {% trans "Retour à la connexion" %}
  </a>
</div>
{% endblock %}
