{% extends 'layouts/base.html' %}
{% load i18n allauth account static %}

{% block head_title %}{% trans "Réinitialisation du mot de passe" %}{% endblock head_title %}

{% block content %}
<div class="bg-gray-100 md:min-h-screen flex items-center justify-center">
  <div class="flex flex-col items-center justify-center bg-white shadow-md rounded-lg p-8 w-full md:mx-12 lg:w-1/2">
    <h1 class="text-brand text-3xl font-bold text-center mb-4">{% trans "Vérifiez vos emails" %}</h1>
    <p class="text-gray-600 text-center mb-8">
      {% blocktrans %}Nous vous avons envoyé un email. Si vous ne le recevez pas, vérifiez vos spams. Contactez-nous si vous ne le recevez pas dans quelques minutes.{% endblocktrans %}
    </p>

    <div class="text-center">
      {% url 'account_login' as login_url %}
      <a href="{{ login_url }}" class="text-sm text-brand hover:underline font-semibold">
        {% trans "Retour à la connexion" %}
      </a>
    </div>
  </div>
</div>
{% endblock content %}
