{% extends 'account/base_auth.html' %}
{% load allauth i18n account static %}

{% block title %}{% trans "Réinitialisation du mot de passe" %}{% endblock title %}

{% block auth_title %}{% trans "Mot de passe oublié" %}{% endblock %}
{% block auth_subtitle %}
  <p class="text-gray-600 text-sm mt-2">
    {% trans "Veuillez saisir votre adresse e-mail pour recevoir un lien de réinitialisation." %}
  </p>
{% endblock %}

{% block auth_content %}
<form method="post" action="{% url 'account_reset_password' %}" class="w-full max-w-sm mx-auto">
  {% csrf_token %}

  <div class="form-group mb-8">
    <label for="resetEmail" class="block mb-1 text-sm font-bold tracking-wide text-brand uppercase">
      {% trans 'E-mail' %}
    </label>
    <input type="email" name="email" id="resetEmail"
           value="{{ form.email.value|default_if_none:'' }}"
           autocomplete="email"
           class="w-full rounded-full border border-gray-300 bg-white/60 px-4 py-2 text-sm placeholder-gray-500 focus:border-brand focus:outline-none focus:ring-2 focus:ring-brand" />
    {% if form.email.errors %}
      <div class="mt-1 space-y-0.5">
        {% for error in form.email.errors %}
          <p class="text-xs font-medium text-red-500">{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}
  </div>

  {% if form.non_field_errors %}
    <div class="mb-6 space-y-0.5">
      {% for error in form.non_field_errors %}
        <p class="text-xs font-medium text-red-500">{{ error }}</p>
      {% endfor %}
    </div>
  {% endif %}

  <div class="w-full mt-8 flex justify-center items-center">
    <button type="submit"
            class="w-60 px-6 py-3 font-semibold text-white bg-brand rounded-full focus:outline-none focus:ring-2 focus:ring-brand focus:ring-offset-2">
      {% trans 'Envoyer le lien de réinitialisation' %}
    </button>
  </div>
</form>
{% endblock auth_content %}

{% block auth_footer %}
<div class="text-center mt-6">
  <p class="text-brand-200 text-lg">
    {% trans "Vous vous souvenez de votre mot de passe ?" %}
    <a class="font-bold hover:underline" href="{% url 'account_login' %}">{% trans "Se connecter" %}</a>
  </p>
</div>
{% endblock %}
