{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}

<section id="password-reset" class="password-reset section">
    <!-- Page Title -->
    <header class="container section-title" data-aos="fade">
        <h1>{% trans "Change Password" %}</h1>
        <hr>
        <p>{% trans 'Your password is now changed.' %}</p>
        <br>
        <a href="{% url 'account_login' %}" class="btn btn-primary">{% trans 'Sign In' %}</a>
    </header><!-- End Page Title -->

    
</section>

{% endblock content %}
