{% extends 'layouts/base.html' %}
{% load allauth i18n account static %}

{% block title %}
{% trans "Password Reset" %} - BanaMobi
{% endblock title %}

{% block content %}
<div class="bg-gray-100 md:min-h-screen flex items-center justify-center">
  <div class="flex flex-col items-center justify-center bg-white shadow-md rounded-lg p-8 w-full md:mx-12 lg:w-1/2">
    <h1 class="text-brand text-3xl font-bold text-center">{% trans 'Password Reset' %}</h1>
    <h2 class="text-brand-200 text-1xl font-bold mb-12 text-center">
      {% trans "Veuillez saisir votre adresse e-mail pour recevoir un lien de réinitialisation." %} 
    </h2>

    {% url 'account_reset_password' as reset_url %}
    <form method="post" class="lg:w-1/2" action="{{ reset_url }}">
      {% csrf_token %}

      {# Email #}
      <div class="form-group mb-8">
        <label for="resetEmail" class="block mb-1 text-sm font-bold tracking-wide text-brand uppercase">
          {% trans 'Email' %}
        </label>
        <input type="email" name="email" id="resetEmail"
               value="{{ form.email.value|default_if_none:'' }}"
               class="w-full rounded-full border border-gray-300 bg-white/60 px-4 py-2 text-sm placeholder-gray-500 focus:border-brand focus:outline-none focus:ring-2 focus:ring-brand" />

        {% if form.email.errors %}
          <div class="mt-1 space-y-0.5">
            {% for error in form.email.errors %}
              <p class="text-xs font-medium text-red-500">{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
      </div>

      {# Non-field errors #}
      {% if form.non_field_errors %}
        <div class="mb-6 space-y-0.5">
          {% for error in form.non_field_errors %}
            <p class="text-xs font-medium text-red-500">{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}

      {# Submit #}
      <div class="w-full mt-8 flex justify-center items-center">
        <button type="submit" class="w-60 px-6 py-3 font-semibold text-white bg-brand rounded-full">
          {% trans 'Envoyer le lien de réinitialisation' %}
        </button>
      </div>
    </form>

    <div class="text-center mt-6">
      {% url 'account_login' as login_url %}
      {% url 'account_signup' as signup_url %}
      <p class="text-brand-200 text-1xl mb-4">
        {% trans "Vous vous souvenez de votre mot de passe ?" %} 
          <a class="font-bold" href="{{ login_url }}">{% trans "Sign In" %} </a>
      </p>
    </div>
  </div>
</div>
{% endblock content %}
