{% extends 'layouts/base.html' %}
{% load allauth i18n account static %}

{% block head_title %}
{% trans "Signup" %}
{% endblock head_title %}

{% block content %}

<div class="bg-gray-100 md:min-h-screen flex items-center justify-center">
    <div class="flex flex-col items-center justify-center bg-white shadow-md rounded-lg p-8 w-full md:mx-12 lg:w-1/2">
        <h1 class="text-brand text-3xl font-bold text-center">{% trans 'Signup' %}</h1>
        <h2 class="text-brand-200 text-1xl font-bold mb-12 text-center">{% trans "Create an account to get started." %}</h2>

        {% if not SOCIALACCOUNT_ONLY %}
        {% url 'account_signup' as action_url %}
        <form method="post" class="lg:w-1/2" action="{{ signup_url }}">
            {% csrf_token %}

            <!-- Username Input 
            <div class="form-group mb-8">
                <label for="username" class="block mb-1 text-sm font-bold tracking-wide text-brand uppercase">{% trans 'Username' %}</label>
                <input type="text" name="username" id="username"
                       class="w-full rounded-full border border-gray-300 bg-white/60 px-4 py-2 text-sm placeholder-gray-500 focus:border-brand focus:outline-none focus:ring-2 focus:ring-brand"/>

                {% if form.username.errors %}
                <div class="mt-1 space-y-0.5">
                    {% for error in form.username.errors %}
                    <p class="text-xs font-medium text-red-500">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>-->

                        <!-- Service Input -->
            <div class="form-group mb-8">
                <label for="service" class="block mb-1 text-sm font-bold tracking-wide text-brand uppercase">Service</label>
                    <select name="service" id="service" required
                            class="block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500">
                        <option value="">-- Sélectionnez un service --</option>
                        <option value="parent">Parent</option>
                        <option value="yaya">Yaya</option>
                    </select>
                {% if form.service.errors %}
                    <div class="mt-1 space-y-0.5">
                        {% for error in form.service.errors %}
                            <p class="text-xs font-medium text-red-500">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <!-- Email Input -->
            <div class="form-group mb-8">
                <label for="email" class="block mb-1 text-sm font-bold tracking-wide text-brand uppercase">{% trans 'Email' %}</label>
                <input type="text" name="email" id="email"
                       class="w-full rounded-full border border-gray-300 bg-white/60 px-4 py-2 text-sm placeholder-gray-500 focus:border-brand focus:outline-none focus:ring-2 focus:ring-brand"/>

                {% if form.email.errors %}
                <div class="mt-1 space-y-0.5">
                    {% for error in form.email.errors %}
                    <p class="text-xs font-medium text-red-500">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <!-- Password Input -->
            <div class="form-group mb-8">
                <label for="password" class="block mb-1 text-sm font-bold tracking-wide text-brand uppercase">{% trans 'Password' %}</label>
                <input type="password" name="password" id="password"
                       class="w-full rounded-full border border-gray-300 bg-white/60 px-4 py-2 text-sm placeholder-gray-500 focus:border-brand focus:outline-none focus:ring-2 focus:ring-brand"/>

                {% if form.password1.errors %}
                <div class="mt-1 space-y-0.5">
                    {% for error in form.password1.errors %}
                    <p class="text-xs font-medium text-red-500">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <!-- Confirm Password Input -->
            <div class="form-group mb-8">
                <label for="password_confirm"
                       class="block mb-1 text-sm font-bold tracking-wide text-brand uppercase">{% trans 'Confirm Password' %}</label>
                <input type="password" name="password" id="password_confirm"
                       class="w-full rounded-full border border-gray-300 bg-white/60 px-4 py-2 text-sm placeholder-gray-500 focus:border-brand focus:outline-none focus:ring-2 focus:ring-brand"/>

                {% if form.password2.errors %}
                <div class="mt-1 space-y-0.5">
                    {% for error in form.password2.errors %}
                    <p class="text-xs font-medium text-red-500">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <!-- Submit Button -->
            <div class="w-full mt-12 flex justify-center items-center">
                <button type="submit" class="w-60 px-6 py-3 font-semibold text-white bg-brand rounded-full">
                    {% trans 'Sign Up' %}
                </button>
            </div>
        </form>


        <!-- Login Link -->
        <div class="text-center mt-3">
            <p class="text-brand-200 text-1xl mb-12">
                {% blocktrans %}Already have an account?
                <a class="font-bold" href="{{ login_url }}">Sign In</a>
                {% endblocktrans %}
            </p>
        </div>
        {% endif %}

        <!-- Alternative signup methods -->
        {% if PASSKEY_SIGNUP_ENABLED %}
        <hr class="my-4">
        <div class="text-center">
            <a href="{{ signup_by_passkey_url }}" class="btn btn-outline-primary btn-block">
                {% trans "Sign up using a passkey" %}
            </a>
        </div>
        {% endif %}

        <!-- Social sign up options -->
        {% if SOCIALACCOUNT_ENABLED %}
        <div class="text-center">
            <p>{% trans 'Or sign up with:' %}</p>
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}