{% extends 'account/base_auth.html' %}
{% load i18n allauth account static %}

{% block title %}{% trans "Vérifiez votre adresse e-mail" %}{% endblock title %}
{% block head_title %}{% trans "Vérifiez votre adresse e-mail" %}{% endblock head_title %}

{% block auth_title %}{% trans "Vérifiez votre adresse e-mail" %}{% endblock %}

{% block auth_content %}
<p class="text-gray-600 text-center">
  {% blocktrans %}Nous vous avons envoyé un e-mail de vérification. Cliquez sur le lien qu'il contient pour finaliser votre inscription. Si vous ne le voyez pas dans votre boîte de réception, pensez à vérifier vos spams. Contactez-nous si vous ne le recevez pas dans les prochaines minutes.{% endblocktrans %}
</p>
{% endblock auth_content %}

{% block auth_footer %}
<div class="text-center mt-8">
  <a href="{% url 'account_login' %}" class="text-sm text-brand hover:underline font-semibold">
    {% trans "Retour à la connexion" %}
  </a>
</div>
{% endblock %}
