{% extends 'account/base_auth.html' %}
{% load i18n static allauth %}

{% block title %}{% trans "Vérifiez votre adresse e-mail" %}{% endblock title %}
{% block head_title %}{% trans "Vérifiez votre adresse e-mail" %}{% endblock head_title %}

{% block auth_title %}{% trans "Vérifiez votre adresse e-mail" %}{% endblock %}

{% block auth_content %}
{% url 'account_email' as email_url %}
<div class="space-y-4 text-gray-600 text-center">
  <p>
    {% blocktrans %}Cette partie du site nécessite de vérifier votre identité. Nous avons donc besoin que vous confirmiez être bien le propriétaire de votre adresse e-mail.{% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}Nous vous avons envoyé un e-mail de vérification. Cliquez sur le lien qu'il contient. Si vous ne le voyez pas dans votre boîte de réception, pensez à vérifier vos spams. Contactez-nous si vous ne le recevez pas dans les prochaines minutes.{% endblocktrans %}
  </p>
  <p class="text-sm">
    {% blocktrans %}<strong>Note :</strong> vous pouvez toujours <a href="{{ email_url }}" class="text-brand font-semibold hover:underline">changer d'adresse e-mail</a>.{% endblocktrans %}
  </p>
</div>
{% endblock auth_content %}
